includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - %currentWorkingDirectory%/app/Http
    autoload_files:
          - %currentWorkingDirectory%/vendor/autoload.php
    fileExtensions:
        - php
    ignoreErrors:
    - '#Strict comparison using === between [a-zA-Z0-9|]+ and null will always evaluate to false#'
    - '#Unsafe usage of new static()#'
