includes:
#	- vendor/phpstan/phpstan-phpunit/extension.neon
#	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - %currentWorkingDirectory%/app/Http
        - %currentWorkingDirectory%/app/Services
        - %currentWorkingDirectory%/app/Utils
        - %currentWorkingDirectory%/app/Helpers
        - %currentWorkingDirectory%/app/Exceptions
    fileExtensions:
        - php
    ignoreErrors:
    - '#Strict comparison using === between [a-zA-Z0-9|]+ and null will always evaluate to false#'
    - '#Unsafe usage of new static\(\)#'
